---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }} - importance: {{ page.importance }} </p>

{% if page.abstract.size > 0 %}
<p class="abstract"> {{ page.abstract }}</p>
<hr/>
{% endif %}

<div class="post">
  {{ content | toc }}
</div>
<div class="backButton">
<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}%2F%3Futm_source%3Dtwitter%26utm_medium%3Dsocial&via={{page.twitter_username}}" id='tweetThis'><i class="fab fa-twitter"></i>[Tweet this!]</a>
<br/>
<a href="/wiki/navigation-guide?utm_medium=tocButton" id='tocButton'><i class="fa fa-map-signs" aria-hidden="true"></i>[Contents]</a>
<br/>
<a href="/wiki?utm_medium=backButton" id='backToWiki'><-[Back to wiki]</a>
</div>

<script>
const headings = document.querySelectorAll('h2[id],h3[id]');
for (var heading of headings) {
    heading.innerHTML = `<a href=#${heading.id}>${heading.innerHTML}</a>`;
}
var windowWidth = window.innerWidth;
var maxDeviceWidth = 768;
if (windowWidth < maxDeviceWidth) {
	document.getElementById('tweetThis').innerHTML=`[<i class="fab fa-twitter"></i>]`
  document.getElementById('tocButton').innerHTML=`[<i class="fa fa-map-signs" aria-hidden="true"></i>]`
	document.getElementById('backToWiki').innerHTML=`[<i class="fa fa-arrow-left"></i>]`
}


</script>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{ page.twitter_username }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
{% if page.twitter_image.size > 0 %}
<meta name="twitter:image:src" content="{{ page.twitter_image }}" />
{% else %}
<meta name="twitter:image:src" content="{{ site.url }}/resources/placeholder.png" />
{% endif %}

<link rel="stylesheet" type="text/css" href="/css/post.css">